#UI {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  height: 100%;
  transition: 0.2s;
}

.open {
  width: 16rem;
  background-color: blueviolet;
}

.closed {
  width: 1rem;
  background-color: orangered;
}

button {
  background-color: blue;
  color: orangered;
  padding: 0.5rem 2rem;
  width: 12rem;

  border: 2px solid black;
  border-radius: 8px;

  font-size: 16pt;
  font-weight: 900;
}